.alert-info {
    background-color: #CBFDFD;
    border: solid #D5DBDB 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    margin: auto;

}

.alert-info>a {
    text-decoration: none;
    color: black;
    margin: 1em;
}

h1 {
    margin-left: calc(50% - 2.1em);
    margin-top: 0;
    font-size: 4em;
}
nav {
    box-sizing: border-box;


}

ul {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: end;

}

li {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;
    width: 87%;
    text-align: center;
    padding: 1em 0;

}

.header-img {
    display: flex;
    justify-content: center;
}

.main {
    width: 87%;
    margin: auto;
}
h2 {
    margin-bottom: 0;
}

.sub-section {
    font-style: italic;
    width: 87%;
    margin: auto;
}
footer {
    display: flex;
    width: 87%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
}
footer p {
    margin-top: 5em;
    font-size: 12px;
}
footer div {
    margin-bottom: 8px;
}
div a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width:500px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        float: left;
        margin: 0;
    }

    nav {

    }

    ul {
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

    }

    li {
        width: min-content;
        padding: 1em;
        margin-top: 2em;
        background-color: white;
        border: white;


    }

    .header-img img {
        width: 100%;
        margin-top: 2em;
    }

    .main {
        float: left;
        width: 40%;
    }

    .sub-section {
        float: right;
        width: 40%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        clear: left;
        margin-top: 25em;
        width: 100%;
    }
    footer div {
        margin-bottom: 8px;
    }
    a {
        text-decoration: none;
        color: black;

    }
    .social:hover {
        font-size: 4em;
        color: hotpink;
        transition: ease .3s;
    }
}